<!-- <mat-toolbar color="primary">
  <mat-toolbar-row> -->
    <!-- <button 
      mat-button 
      routerLink="/home">
      Home
    </button>
    <span class="spacer"></span> -->

    <ng-container *ngIf="user$ | async as user; else loginIcon">
      
      <button mat-button routerLink="/dashboard">Dashboard</button>
      <span class="spacer"></span>
      
      <button mat-button routerLink="/budgets">Budgets</button>
      <span class="spacer"></span>
      
      <button mat-button routerLink="/settings">Settings</button>
      <span class="spacer"></span>
      
      <button mat-icon-button routerLink="/create" matTooltip="Add an expense">
        <mat-icon aria-hidden="false" aria-label="Add an expense">add</mat-icon>
      </button>

      <app-profile-card 
        [user]="user"
        (logoutClick)="logout()">
      </app-profile-card>
      <span class="spacer"></span>

    </ng-container>

    <ng-template #loginIcon>
      <button mat-icon-button color="primary" (click)="login()" matTooltip="Login">
        Login
        <mat-icon aria-hidden="false" aria-label="Login">login</mat-icon>
      </button>
    </ng-template>


  <!-- </mat-toolbar-row>
</mat-toolbar> -->