.form-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.form-container form {
  margin-bottom: 20px;
}

.form-container form > * {
  margin: 5px 0;
}

.form-container .mat-radio-button {
  margin: 0 12px;
}

.transactions-container{
	margin-bottom: 20px;
	position: relative;
  min-height: 200px;
}

button{
	margin-left: 8px;
}