<div class="form-container">
	<form #newtransactionBetweenAccounts="ngForm" (ngSubmit)="addTransaction(newtransactionBetweenAccounts)"> 

<mat-form-field appearance="fill" style="width: 120px">
    <mat-label>From Account</mat-label>
    <mat-select [(value)]="selectedFromAccount" [formControl]="fromAccount" required>
      <mat-option *ngFor="let fa of accounts" value="{{fa}}">{{fa}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" style="width: 120px">
    <mat-label>To Account</mat-label>
    <mat-select [(value)]="selectedToAccount" [formControl]="toAccount" required>
      <mat-option *ngFor="let ta of accounts" value="{{ta}}">{{ta}}</mat-option>
    </mat-select>
  </mat-form-field>

<mat-form-field appearance="fill" style="width: 100px">
    <mat-label>Amount</mat-label>
    <input matInput [formControl]="amount" required>
  </mat-form-field>


  <mat-form-field appearance="fill" style="width: 80px">
    <mat-select [(value)]="selectedCurrency" [formControl]="currency">
      <mat-option value="CAD">CAD</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" style="width: 100px">
    <mat-label>Recurrence</mat-label>
    <mat-select [(value)]="selectedReccurence" [formControl]="recurrence">
      <mat-option value="Once">Once</mat-option>
      <mat-option value="Weekly">Weekly</mat-option>
      <mat-option value="BiWeekly">Bi-weekly</mat-option>
      <mat-option value="Monthly">Monthly</mat-option>
      <mat-option value="Yearly">Yearly</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" style="width: 150px">
    <input matInput [matDatepicker]="picker" [(value)] = "selectedDate" [formControl]="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker  #picker></mat-datepicker>
  </mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput [formControl]="description"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" style="margin-left: 8px">Add</button>
</form>
  <div class="form-container">